@model IEnumerable<ProjeEmlak.Models.Ilan>
@{
    ViewBag.Title = "Search";
}

<div class="container">

    <div class="row" style="padding-top:15px">
        <!-- İlan Listesi -->
        <br />

        @foreach (var item in Model)
        {
            var rsm = 1;

            <div style="padding:5px">
                <div class="card-deck" style="width:305px; text-align:center">
                    <div class="card" style="padding-top:5px">
                        @foreach (var resim in ViewBag.img)
                        {
                            if (resim.IlanId == item.IlanId)
                            {
                                if (@rsm == 1)
                                {
                                    <a href="/Home/Detay/@item.IlanId"> <img src="~/Content/images/@resim.ResimAd" class="card-img-top" alt="..." style="width:250px; height:200px"></a>
                                    rsm++;
                                }
                            }
                        }
                        <div class="card-body">
                            <P><strong>@item.Emlak.Durum.DurumAd</strong> (@item.Emlak.EmlakAd)</P>
                            <p>@item.Mahalle.Semt.Sehir.SehirAd - @item.Mahalle.Semt.SemtAd - @item.Mahalle.MahalleAd</p>
                            <p>
                                <button class="btn btn-outline-info btn-sm" style="cursor:default">@item.Fiyat (₺)</button>
                                <button class="btn btn-outline-info btn-sm" style="cursor:default">@item.Alan m<sup>2</sup></button>
                                <button class="btn btn-outline-info btn-sm" style="cursor:default"><i class="fa fa-bed"> @item.OdaSayisi</i></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>



