@model ProjeEmlak.Models.Emlak

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emlak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Durum.DurumAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum.DurumAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmlakAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmlakAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmlakId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
