@model IEnumerable<ProjeEmlak.Models.Emlak>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row" style="justify-content:center; padding-top:15px;">
        <div class="col-md-12">
            <div class="img-thumbnail">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Index">Admin Sayfası</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Emlak Listesi</li>
                    </ol>
                </nav>

                <table class="table">
                    <tr>
                        <th>
                            Durum
                        </th>
                        <th>
                            Emlak
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Durum.DurumAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmlakAd)
                            </td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" href="@Url.Action("Edit", new { id = item.EmlakId })"><i class="fa fa-edit"></i> Düzenle</a>
                                <a class="btn btn-outline-info btn-sm" href="@Url.Action("Delete", new { id = item.EmlakId })"><i class="fa fa-trash"></i> Sil</a>

                            </td>
                        </tr>
                    }

                </table>
                <a class="btn btn-outline-info btn-block" href="@Url.Action("Create")">Emlak Ekle</a>
            </div>

        </div>

    </div>

</div>