@model ProjeEmlak.Models.Durum

@{
    ViewBag.Title = "Edit";
}
<div class="container">
    <div class="row" style="justify-content:center; padding-top:15px; padding-bottom:110px;">
        
        <div class="col-md-12">
            <div class="img-thumbnail">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/Index">Admin Paneli</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Durum Güncelle</li>
                    </ol>
                </nav>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.DurumId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.DurumAd, "Durum", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DurumAd, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DurumAd, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Kaydet" class="btn btn-outline-info btn-sm" />
                                @Html.ActionLink("Durum Listesi", "Index", null, new { @class = "btn btn-outline-info btn-sm" })
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

    </div>

</div>